.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

.caption {
    color: #999;
    display: block;
    font-size: 0.9em;
    margin-top: 0.5em;
    position: relative;
    text-align: center;
}
